@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    display: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header{
    width: 100%;
    height: 100vh;
    padding: 0 10;
    background: #f7efef;
}

.hero{
    width: 100%;
    height: 100vh;
    background-color: white;
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100000;
    background-color: white;
    opacity: 80%;
}

nav .logo{
    width: 100px;

}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a{
    text-decoration: none;
    position: relative;
    color: black;
    font-size: 17px;
}

nav ul li a:hover{
    color: red;
}

.rec{
    width: 100%;
    position: absolute;
    top: 97px;
    left: 0;
    padding: 15px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100000;
    background-color: rgb(130, 75, 75);
}

.rec h3{
    color: #fff;
    font-size: 13px;
}

.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #414979;
}

.box{
    float: left;
    background-color: #414979;
    text-align: center;
    margin: 10px;
    display: none;
}

.show{
    display: block;
}

.btn{
    border: none;
    outline: none;

    padding: 12px 16px;
    background-color: #a3cfea;
    cursor: pointer;
    margin-top: 15px;
    /*border-radius: 15px;*/
}   

.btn:hover{
    background-color: rgb(246, 201, 201);
}

.projtitle{
    background-color: #414979;
}

.projtitle h1{
    font-size: 30px;
    align-items: center;
    -webkit-text-fill-color: rgb(223, 224, 247);
    cursor: pointer;
    transition: transform 0.5s;
    text-align: center;
    margin-top: 150px;
    padding: 50px;
}

.projects img{
    box-shadow: 0 10px 20px #414979;
    border-radius: 10px;
    width: 290px;
    height: 170px;
}

.projects img:hover{
    transform:scale(1.05);
}

.objects{
    margin-top: 40px;
    max-width: 1500px;
    margin-left: 100px;
}


.text-box{
    margin-top: 40px;
    max-width: 600px;
    margin-left: 100px;
}

.text-box img{
    width: 500px;
}

.text-box h1{
    font-size: 50px;
    text-align: left;
    color: rgb(26, 25, 29);
    margin-top: 200px;
}

.text-box h4{
    font-size: 20px;
    color: rgb(26, 25, 29);
    margin-bottom: 50px;
}

.text-box a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background: #3f51b5;
    padding: 10px 30px;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 6px;
}

.cover img{
    box-shadow: 0 10px 20px whitesmoke;
    border-radius: 25px;
    display: inline-block;
    width: 500px;
    margin-top: 140px;
}

.image img{
    box-shadow: 0 10px 20px whitesmoke;
    border-radius: 25px;
    display: inline-block;
    width: 670px;
    margin: 80px;
}

.introduce{
    width: 100%;
    background-color: rgb(163, 180, 149);
    position: relative;
    padding: 0 5%;
    display: relative;
    align-items: center;
    justify-content: center;
}

.text-box2{
    max-width: 1400px;
    margin-left: 130px;
    background-color: rgb(33, 33, 36);
}

.text-box2 h1{
    font-size: 50px;
    color: rgb(220, 220, 220);
    padding: 150px;
}

.text-box2 p{
    font-size: 17px;
    color: rgb(224, 224, 224);
    margin: 50px;
}

.text-box2 h4{
    font-size: 30px;
    color: rgb(223, 223, 223);
    text-align: center;
    padding: 100px;
}

.text-box2 img{
    width: 950px;
    margin-left: 200px;
}

.text-box3{
    background-color: #f7efef;
    max-width: 1400px;
    margin-left: 130px;
    padding: 80px;
    
}

.text-box3 h1{
    font-size: 50px;
    color: rgb(29, 27, 31);
    padding: 150px;
}

.text-box3 h3{
    font-size: 30px;
    color: rgb(28, 27, 27);
    padding: 50px;
}

.text-box3 ul{
    font-size: 20px;
    color: rgb(28, 27, 27);
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
}

.text-box3 img{
    border-radius: 25px;
    display: inline-block;
    width: 500px;
    text-align: center;
    padding: 50px;
}

.text-box3 p{
    font-size: 20px;
    color: rgb(28, 27, 27);
    margin-left: 50px;
    margin-right: 100px;
    margin-bottom: 20px;
}

.behaviour{
    max-width: 1400px;
    background-color: rgb(45, 45, 47);
}

.behaviour img{
    border-radius: 25px;
    display: inline-block;
    width: 800px;
    text-align: center;
    margin-left: 260px;
    margin-bottom: 50px;
}

.behaviour h4{
    margin-top: 140px;
    font-size: 20px;
    color: rgb(223, 223, 223);
    text-align: left;
    margin-left: 100px;
    padding: 100px;
}

.behaviour p{
    font-size: 16px;
    color: rgb(255, 255, 255);
    margin-left: 100px;
    margin-right: 100px;
}


.bot{
    background-color: rgb(163, 180, 149);
}

.bot h3{
    color: rgb(163, 180, 149);
}


.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

.container ul{
    list-style: none;
}


.footer{
    background-color: #24262b;;
    padding: 70px 0;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 24px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;

}

.footer-col ul li {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li:hover{
    color: #ffffff;
    padding-left: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 10px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,225,0.2);
    margin: 0 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}

@media(max-width: 767px){
    .footer-col {
        width: 50%;
        margin-bottom: 30%;
    }
}

@media(max-width: 574px){
    .footer-col {
        width: 100%;
    }
}  




.text-box4{
    max-width: 1400px;
    margin-left: 130px;
    background-color: rgb(251, 245, 239);
}

.text-box4 h1{
    font-size: 50px;
    color: rgb(0, 0, 0);
    padding: 100px;
}

.text-box4 p{
    font-size: 19px;
    color: rgb(53, 61, 92);
    margin: 100px;
}

.text-box4 h4{
    margin-top: 100px;
    font-size: 30px;
    color: rgb(41, 40, 60);
    text-align: center;
    margin-bottom: 20px;
}

.text-box4 img{
    width: 1000px;
    margin-left: 200px;
}

.links{
    text-align: center;
}

.links a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background: #635551;
    padding: 10px 30px;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 6px;
    margin-left: 10px;
}


.text-box4 iframe{
    margin-left: 300px;
    width: 800px;

}

.text-box4 video{
    margin-left: 300px;
    width: 800px;
}

.image video{
    box-shadow: 0 10px 20px whitesmoke;
    border-radius: 25px;
    display: inline-block;
    width: 700px;
    margin: 80px;
}


.blank{
    background-color: rgb(251, 245, 239);
}
.blank p{
    color: rgb(251, 245, 239);
}