@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;900&display=swap');
:root{
    --fs-xl: 3rem;
    --fs-600: 2rem;
    --fs-400: 0.9rem;
    --fs-300: 0.9rem;
    --fs-100: 0.3rem;
}

@media (min-width: 60em){
    :root{
        --fs-xl: clamp(3.5rem, 12vw + 1rem, 12rem);
        --fs-600: 2.7rem;
        --fs-400: 1.125rem;
        --fs-300: 1rem;
        --fs-100: 0.8rem
    }
}

body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    display: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.hero{
    width: 100%;
    height: auto;
    background-color: rgb(251, 242, 242);
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    width: 100%;
    height: 8%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 2% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100000;
    border: #635551;
    background-color: white;

}

nav .logo{
    width: 50px;

}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
    
}

nav ul li a{
    text-decoration: none;
    position: relative;
    color: black;
    font-size: var(--fs-300);
    justify-content: center;
    text-align: center;
    align-items: center;
}

nav ul li a:hover{
    color: rgb(191, 150, 173);
}

.rec{
    width: 100%;
    position: absolute;
    top: 8%;
    left: 0;
    padding: 1% 8%;
    display: flex;
    align-items: center;
    justify-content: left;
    /* make the rectangle above body z-index: 100000;*/
    /*background-color: rgb(130, 75, 75);
    */
    background-color: rgb(191, 150, 173);
    /*#62837f;*/
}

.rec h3{
    color: #fff;
    font-size: var(--fs-100);
}

@media(max-width: 800px){
    .rec{
        top: 14%;
    }
}  

@media(min-width: 960px){
    .rec{
        top: 10%;
    }
}  

.text-box{
    width: 45%;
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
    /*margin-left: 5%;
    margin-top: 18%;*/
    margin-left: 2em;
    margin-bottom: 7rem;
}   

.text-box ul{
    font-size: var(--fs-100); 
    list-style: none;
}
.text-box h5{
    font-size: var(--fs-300); 
    margin-top: 1em;
}

.text-box h1{
    font-size: var(--fs-600);
    text-align: left;
    color: rgb(26, 25, 29);
    margin-top: 10rem;
    
}

.text-box p{
    font-size: var(--fs-100);
}

.text-box h4{
    font-size: var(--fs-400);
    color: rgb(26, 25, 29);
    margin-bottom: 50px;
}

.text-box a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background: #3f51b5;
    padding: 0.8em 1em;
    font-size: var(--fs-300);
    margin-top: 2em;
    border-radius: 6px;
}
/*
.image img{
    box-shadow: 0 10px 20px whitesmoke;
    border-radius: 25px;
    display: inline-block;
    max-width: 90%;
    margin-top: 170px;
}
*/

/*
@media(max-width: 800px){
    .text-box {
        width: 70%;
        margin-bottom: 5%;
    }
    .text-box h1{
        margin-top: 0%;
    }
}*/


.image img{
    box-shadow: 0 10px 20px whitesmoke;
    border-radius: 25px;
    display: inline-block;
    margin-left: 10em;
    width: 40em;
}

.gif img{
    display: inline-block;
    margin-left: 10em;
    width: 30em;
    margin-top: 5em;
}
 
.pp p{
    margin-top: 3em;
    margin-right: 3em;
}

.bot{
    background-color: rgb(163, 180, 149);
}

.bot h3{
    color: rgb(163, 180, 149);
}


.introduce{
    width: 100%;
    background-color: rgb(163, 180, 149);
    position: relative;
    padding: 0 5%;
    display: relative;
    align-items: center;
    justify-content: center;
}

.text-box2{
    max-width: 1400px;
    margin-left: 130px;
    background-color: rgb(33, 33, 36);
}

.text-box2 h1{
    font-size: 50px;
    color: rgb(220, 220, 220);
    padding: 150px;
}

.text-box2 p{
    font-size: 17px;
    color: rgb(224, 224, 224);
    margin: 50px;
}

.text-box2 h4{
    font-size: 30px;
    color: rgb(223, 223, 223);
    text-align: center;
    padding: 100px;
}

.text-box2 img{
    width: 43em;
    margin-left: 7em;
    justify-content: center;
    text-align: center;
}

.text-box3{
    background-color: #f7efef;
    max-width: 80em;
    margin-left: 6em;
    padding: 80px;
    
}

.text-box3 h1{
    font-size: var(--fs-600);
    color: rgb(29, 27, 31);
    padding: 150px;
}

.text-box3 h3{
    font-size: var(--fs-400);
    color: rgb(28, 27, 27);
    padding: 50px;
}

.text-box3 ul{
    font-size: var(--fs-300);
    color: rgb(28, 27, 27);
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
}

.text-box3 img{
    margin-left: 1em;
    display: inline-block;
    width: 13em;
    text-align: center;
    justify-content: center;
}

.text-box3 p{
    font-size: var(--fs-300);
    color: rgb(28, 27, 27);
    margin-left: 50px;
    margin-right: 100px;
    margin-bottom: 20px;
}

.behaviour{
    max-width: 1400px;
    background-color: rgb(45, 45, 47);
}

.behaviour img{
    border-radius: 25px;
    display: inline-block;
    width: 800px;
    text-align: center;
    margin-left: 7em;
    margin-bottom: 1.3em;
}

.behaviour h4{
    margin-top: 140px;
    font-size: 20px;
    color: rgb(223, 223, 223);
    text-align: left;
    margin-left: 100px;
    padding: 100px;
}

.behaviour p{
    font-size: 16px;
    color: rgb(255, 255, 255);
    margin-left: 100px;
    margin-right: 100px;
}

.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

.container ul{
    list-style: none;
}


/* footer */
.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

.container ul{
    list-style: none;
}


.footer{
    background-color: #24262b;;
    padding: 70px 0;
}

.footer-col{
    width: 400%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 24px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;

}

.footer-col ul li {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li:hover{
    color: #ffffff;
    padding-left: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 10px;
}

.footer-col h6{
    color: #d8d8d8;
    display: inline-block;
    padding-left: 10px;
    padding-top: 3rem;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,225,0.2);
    margin: 0 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}

@media(max-width: 767px){
    .footer-col {
        width: 50%;
        margin-bottom: 30%;
    }
}

@media(max-width: 574px){
    .footer-col {
        width: 100%;
    }
}  



.popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
}

.close {
    cursor: pointer;
    float: right;
    font-size: 24px;
}

form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.screenshot{
    max-width: 1400px;
    margin-left: 130px;
    margin-top: -2em;
    background-color: rgb(251, 245, 239);
}


.screenshot img{
    width: 17em;
    margin-top: 3em;
    margin-left: 3em;
    margin-bottom: 3em;
}

.text-box4{
    max-width: 1400px;
    margin-left: 130px;
    background-color: rgb(251, 245, 239);
}

.text-box4 h1{
    font-size: var(--fs-600);
    color: rgb(0, 0, 0);
    padding: 2em;
    margin-bottom: -2em;
}

.text-box4 p{
    font-size: var(--fs-300);
    color: rgb(53, 61, 92);
    margin-left: 4em;
    margin-bottom: 2em;
    margin-right: 4em;
}

.text-box4 h3{
    margin-top: 1em;
    font-size: 2em;
    color: rgb(41, 40, 60);
    text-align: left;
    margin-left: 3em;
    margin-bottom: 2em;
}

.text-box4 h4{
    margin-top: 1em;
    font-size: 1.8em;
    color: rgb(41, 40, 60);
    text-align: center;
    margin-bottom: 2em;
}

.text-box4 ul li{
    font-size: var(--fs-300);
    margin-left: 7em;
    margin-right: 7em;
}

.text-box4 img{
    width: 40em;
    margin-left: 14em;
    margin-bottom: 2em;
    text-align: center;
    justify-content: center;
    margin-top: 1em;
}



.links{
    text-align: center;
}

.links a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background: #635551;
    padding: 10px 30px;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 6px;
    margin-left: 10px;
}


.text-box4 iframe{
    margin-left: 10em;
    width: 50em;

}

.modeling iframe{
    margin-left: 10em;


}

.text-box4 video{
    margin-left: 10em;
    width: 50em;
    margin-bottom: 1em;
}

.image video{
    box-shadow: 0 10px 20px whitesmoke;
    border-radius: 25px;
    display: inline-block;
    width: 40em;
    margin: 80px;
}


.blank{
    background-color: rgb(251, 245, 239);
}
.blank p{
    color: rgb(251, 245, 239);
}

@media(max-width: 60em){
    .text-box4 img{
        width: 25em;
        margin-left: 6em;
        
    }
    .text-box4 iframe{
        width: 30em;
        height: 20em;
        margin-left: 5em;
    }

    .text-box4 video{
        width: 25em;
        margin-left: 6em;
        
    }

    .image video{
        width: 23em;
    }

    .image img{
        width: 30em;
        height: 20em;
        margin-left: 5em;
    }
    .text-box2 img{
        width: 30em;
        height: 20em;
        margin-left: 5em;
    }
}

@media(max-width: 40em){
    .text-box4 img{
        width: 18em;
        margin-left: 3em;
        
    }
    .image video{
        width: 10em;
    }
    .text-box4 iframe{
        width: 15em;
        height: 10em;
        margin-left: 5em;
    }
    .text-box4 video{
        width: 18em;
        margin-left: 3em;
        
    }
    .image img{
        width: 15em;
        height: 10em;
        margin-left: 5em;
    }
    .text-box2 img{
        width: 15em;
        height: 10em;
        margin-left: 5em;
    }
}